.Hide {
    display: none;
}
.Deactivate {
    opacity: 0.5;
}
.TestimonialHolder {
    background-color: #262626;
    text-align: center;
    .Heading {
        font-weight: bold;
        padding: 80px 0 20px 0;
        font-size: 50px;
        line-height: 60px;
        background: linear-gradient(309.6deg, #A267E6 5.28%, #7566E6 160.4%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .TestimonialNavMobile {
        display: none;
    }
    .Mobile {
        display: none;
    }
    .Desktop {
        .Testimonials {
            display: grid;
            grid-template-columns: 10% auto 10%;
            justify-items: center;
            align-items: center;
            .TestimonialBtn {
                border-style: none;
                cursor: pointer;
                font-size: 15px;
                font-weight: 200;
                letter-spacing: 0.03px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 900;
                color: #000000;
                border-radius: 50%;
                color: white;
                cursor: pointer;
                height: 45px;
                width: 45px;
                background: linear-gradient(309.6deg, #CEAAF5 5.28%, #fff 160.4%);
                backdrop-filter: blur(4.03693px);
                .ArrowIcon {
                    color: #7E46BD;
                }
            }
            .Parent {
                height: 400px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
        }
    }
    .Dots {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0;
        .Dot {
            width: 10px;
            height: 10px;
            margin: 10px;
            border-radius: 50%;
            background-color: white;
            opacity: 0.2;
        }
        .Active {
            opacity: 1.0;
        }
    }
    @media screen and (max-width: 768px) {
        .Heading {
            font-size: 30px;
            line-height: 40px;
            margin: 0 30px;
            text-align: left;
            padding-top: 50px;
        }
        .Desktop {
            display: none;
        }
        .Mobile {
            display: flex;
        }
        .Dots {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 0 25px 0;
            .Dot {
                width: 10px;
                height: 10px;
                margin: 10px;
                border-radius: 50%;
                background-color: white;
                opacity: 0.5;
            }
            .Active {
                opacity: 1.0;
            }
        }
        
    }
}