.SeeMoreContainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, auto) 5%;
    padding: 0 40px;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        cursor: pointer;
        img {
            filter: grayscale(100%);
            height: 25px;
            transition: transform 0.3s;
            margin: 60px 0;
            &:hover {
                transform: scale(1.2);
                filter: grayscale(0);
                transition: ease-in-out 0.2s;
            }
        }
    }

    div {
        display: flex;
        align-items: center;
        .SeeMoreButton {
            border-style: none;
            cursor: pointer;
            font-size: 15px;
            font-weight: 200;
            letter-spacing: 0.03px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 900;
            color: #000000;
            border-radius: 35%;
            color: white;
            cursor: pointer;
            height: 50px;
            width: 50px;
            background: linear-gradient(309.6deg, #DEC6F6 5.28%, rgba(255, 255, 255, 0) 160.4%);
            backdrop-filter: blur(4.03693px);
            .NextIcon {
                color: #7E46BD;
            }
        }
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, auto);
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            cursor: pointer;
            img {
                filter: grayscale(100%);
                height: 19px;
                transition: transform 0.3s;
                margin: 40px 0;
                &:hover {
                    transform: scale(1.2);
                    filter: grayscale(0);
                    transition: ease-in-out 0.2s;
                }
            }
        }
    }
}