.Hide {
    display: none;
}
.Parent {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    .MidSection {
        .Description {
            padding: 50px 50x;
            color: white;
            font-size: 20px;
            line-height: 40px;
            letter-spacing: 0.03em;
        }
        .Who {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 50px;
            .ProfilePic {
                width: 100px;
                object-fit: cover;
                border-radius: 50%;
                height: 100px;
            }
            p {
                b {
                    font-size: 20px;
                    font-weight: 600;
                }
                text-align: left;
                margin-left: 15px;
                color: white;
                font-size: 16px;
            }
        }
    }
    @media screen and (max-width: 768px) {
        height: 350px;
        .MidSection {
            .Description {
                font-size: 15px;
                line-height: 23px;
                padding: 0 30px 50px 30px;
                letter-spacing: 0.02em;
                color: white;
                text-align: left;
            }
            .Who {
                display: flex;
                justify-content: left;
                padding: 0 0 10px 30px;
                .ProfilePic {
                    width: 50px;
                    object-fit: cover;
                    border-radius: 50%;
                    height: 50px;
                }
                p {
                    b {
                        font-size: 15px;
                        font-weight: 600;
                    }
                    text-align: left;
                    margin-left: 15px;
                    color: white;
                    font-size: 12px;
                }
            }
        }
    }
}